extends ../layout 

block content 
    main 
        header.flex-col.gap-sml 
            h1 #{title}: #{item.name}
            p Remove a item completely! 

        div.main-container.flex-col.gap-lrg 
            div.flex-col.gap-sml
                h1 #{item.name}
                hr
            
            div.detail-content.flex-row.jst-cntr.algn-cntr.gap-md 
                div.detail-img-container  
                    if item.name.split(" ").length > 1
                        img.img(alt="Item Image" src=`/images/items/${item.name.toLowerCase().replace(/ /g, '_')}_${item.parent_subcategory.name.toLowerCase().replace(/ /g, '_')}.jpg` onerror="noImg(this)") 
                    else 
                        img.img(alt="Item Image" src=`/images/items/${item.name.toLowerCase()}_${item.parent_subcategory.name.toLowerCase().replace(" ", "_")}.jpg` onerror="noImg(this)")

                div.detail-info.flex-col.gap-lrg
                    
                    
                    div.detail-categories.itemDetail 
                        h3 Parent Subcategory: 
                        a(href=item.parent_subcategory.url) #{item.parent_subcategory.name}

                    div.detail-desc.flex-col.gap-sml
                        h3 Description: 
                        p #{item.description}

                    div.detail-price.flex-col.gap-sml 
                        h3 Price:
                        p#price #{item.price_to_usd}

                    div.number_in_stock.flex-col.gap-sml 
                        h3 Number in stock: 
                        if item.number_in_stock !== 0
                            p #{item.number_in_stock}
                        else 
                            p.out-of-stock Out of stock

                    div.detail-skew.flex-col.gap-sml 
                        h3 Skew: 
                        p #{item.skew}

                    
                    div.flex-col.gap-sml 
                        h3 Are you sure you want to delete #{item.name}?
                        hr
                        form.delete(method="POST" action="")
                            input(type="hidden" name="subcategoryid" required="true" value=item._id)
                            button.btn-delete(type="submit") Delete